body{
    font-family: 'Instrument Serif', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("pictures/background-image.png");
    color: #5F3917
}

/*Länkar*/
a{
    color: #5F3917;
    text-decoration: none;
    font-family: 'Instrument Serif', sans-serif;
}
a:hover{
    text-decoration: underline;
}



/*Rubriker*/
h1, h2{
    font-weight: 200;
}

h1{
    font-family: 'Instrument Serif', sans-serif;
    text-align: center;
    font-size: 4.5em;
}

h2{
    font-family: 'Italianno', sans-serif;
    font-size: 3.5em;
}



/*Meny*/
header{
    background-color: #FFF2CC;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    display: grid;
    grid-template-columns: 70% 15% 15%;
}

a img{
    width: 25%;
    height: auto;
    margin: 7% 5%;
}

.item1{
    grid-column: 1;
    display: flex;
    align-items: center;   
}

.item2{
    grid-column: 2;
    display: flex;
    align-items: center; 
    justify-content: start; 
}

.item3{
    grid-column: 3;
    display: flex;
    align-items: center;  
    justify-content: start;
}

.item2 a, .item3 a{
    font-size: 1.5rem;
    font-family: 'Julius Sans One', sans-serif;
}




/*Konditori Mill - Sektion*/
#konditori-mill{
    display: flex;
    align-items: center;
    justify-content: center;
}

.konditori-mill-container{
    display: grid;
    background-color: rgba(255, 242, 204, 0.5);
    border-radius: 50px;
    border: 5px solid;
    border-color: #C8EBCB;
    width: 85%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    margin-top: 10%;
}

.mill-item1{
    grid-row: 1 / span 2;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mill-item2{
    grid-row: 1 / span 4;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}


.mill-item3{
    grid-row: 3 / span 6;
    grid-column: 1;
    display: flex;
    justify-content: center;
}

.mill-item3 p{
    width: 75%;                
    text-align: start;  
    margin-left: 3%;      
}

.mill-item4{
    grid-row: 5 / span 4;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mill-item2 img, .mill-item4 img{
    width: 70%;
    height: auto;
    border-radius: 25px;
    margin: 3%;
}

p{
    font-size: 1.25rem;
    position: relative;
    top: -5%;
}

/*Våra tjänster - Sektion*/
#ourServices{
    background-image: url("pictures/services.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

#ourServices h1{
    color: #FEFFE2;
    padding-top: 15%; 
}

.services-container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding-bottom: 10%;
}

.service-items{
    background-color: #FEFFE2;
    display: block;
    width: 70%;
    text-align: center;
    margin: 0 15%;
    border-radius: 25px;
    height: 95%;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
}

.service-items h2{
    margin: 5%;
    color: #f1b2bc;
}

.service-items p{
    padding: 7%;
}

.service-item1{
    grid-column: 1;
}

.service-item2{
    grid-column: 2;
}


.service-item3{
    grid-column: 3;
}

.service-item4{
    grid-column: 4;
}

/*Våra anställda - Sektion*/
.employees-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

#employees h1{
    color: #FED3DA;
    margin: 10% 0 0 0;
}

.employee-items{
    background-color: #FFF5F5;
    width: 60%;
    border: 5px solid;
    border-color: #FED3DA;
    border-radius: 50px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    text-align: center;
    display: grid;
    grid-template-rows: 25% 25% 50%;
    grid-template-columns: 50% 50%;
    height: 500px;
}

.employee-items p{
    width: 80%;
    text-align: left;
    margin: 0 12%;
    font-size: 1.5rem;
}


.employee-item1{
    grid-column: 1;
    grid-row: 1;
    margin: 10% 10% 10% 30%;
}

.employee-item2{
    grid-column: 2;
    grid-row: 1;
    margin: 10% 30% 10% 10%;
}


.employee-item3{
    grid-column: 1;
    grid-row: 2;
    margin: 10% 10% 10% 30%;
}

.employee-item4{
    grid-column: 2;
    grid-row: 2;
    margin: 10% 30% 10% 10%;
}

.employee-name-item1{
    grid-column: 1 / span 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.employee-name-item2{
    grid-column: 1 / span 2;
    grid-row: 2;
}

.employee-name-item3{
    grid-column: 1;
    grid-row: 3;
}

.employee-name-item3 img{
    width: 74%;
    height: auto;
}

.employee-name-item4{
    grid-column: 2;
    grid-row: 3;
    display: flex;
    justify-content: start;
    align-items: center;
}

.employee-name-item4 button{
    width: 175px;
    height: 175px;
    border-radius: 100%;
    border: none;
    background-color: #FED3DA;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    text-align: center;
    font-family: 'Instrument serif', sans-serif;
    color: #5F3917;
}

.employee-name-item4 button:hover{
    text-decoration: none;
}

footer{
    display: flex;
    justify-content: center;
}

footer img{
    width: 20%;
}





/* Kontakta oss */
#contact{
    display: block;
    padding-left: 5%;
    width: 60%;
}

form label, form input, form textarea, form button {
    display: block;
    font-family: 'Instrument serif', sans-serif;
}

form label{
    font-size: 1.5rem;
    margin-top: 5%;
}

form input, form textarea{
    
    width: 50%;
    height: 5vh;
    font-size: 1.25rem;
    padding: 0 1%;

}

form textarea{
    height: 20vh;
    resize: none;
    padding: 1%;
    margin-bottom: 0;
}

form p{
    font-size: 1rem;
    margin: 0 0 5% 0;
    font-style: italic;
    
}

#nameError, #telError, #emailError, #messageError{
    color: red;
}

.visibility-hidden{
   display: none;
}

#contact h1{
    font-family: 'Italianno', sans-serif;
    font-size: 5em;
    text-align: left;
    margin: 8% 0 3% 0;
}

button{
    width: 15%;
    height: 5vh;
    font-size: 1.25rem;
    background-color: #C8EBCB;
    border: 1px solid;
    border-color: #A1DAA6;
    border-radius: 20px;
    margin-bottom: 7%;
}

