body{
    font-family: 'Instrument Serif', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("pictures/background-image.png");
    color: #5F3917;
}

/*Länkar*/
a{
    color: #5F3917;
    text-decoration: none;
    font-family: 'Instrument Serif', sans-serif;
}

a:hover{
    text-decoration: underline;
}

/*Rubriker*/
h1, h2{
    font-weight: 200;
}

h1{
    font-family: 'Instrument Serif', sans-serif;
    text-align: center;
    font-size: 4.5rem;
}

h2{
    font-family: 'Italianno', sans-serif;
    font-size: 3.5rem;
}

/*Meny*/
header{
    background-color: #FFF2CC;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
}

header a{
    font-size: 1.4rem;
    font-family: 'Julius Sans One', sans-serif;
}

a img{
    width: 25%;
    margin: 7% 5%;
}

.item1{
    grid-column: 1;
    display: flex;
    align-items: center;   
}

.item2{
    grid-column: 2;
    display: flex;
    align-items: center; 
    justify-content: end; 
}

.item3{
    grid-column: 3;
    display: flex;
    align-items: center;  
    justify-content: center;
}

#menu-small-screen{
    display: none;
    width: 100%;
    text-align: right;
}

#menu-large-screen{
    display: grid;
    grid-template-columns: 50% 25% 25%;
}

/*Konditori Mill - Sektion*/
#konditori-mill{
    display: flex;
    align-items: center;
    justify-content: center;
}

.konditori-mill-container{
    display: grid;
    background-color: rgba(255, 242, 204, 0.5);
    border-radius: 50px;
    border: 5px solid;
    border-color: #C8EBCB;
    width: 85%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    margin-top: 10%;
}

.mill-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mill-item1{ /*Rubrik*/
    grid-row: 1 / span 2;
    grid-column: 1;
}

.mill-item2{ /*Bild*/
    grid-row: 1 / span 4;
    grid-column: 2;
}


.mill-item3{ /*Paragraf*/
    grid-row: 3 / span 6;
    grid-column: 1;
}

.mill-item3 p{
    width: 75%;                
    text-align: start;      
}

.mill-item4{ /*Bild*/
    grid-row: 5 / span 4;
    grid-column: 2;
}

.mill-item2 img, .mill-item4 img{
    width: 70%;
    border-radius: 25px;
    margin: 3%;
}

p{
    font-size: 1.25rem;
    position: relative;
    top: -5%;
}

/*Våra tjänster - Sektion*/
#ourServices{
    background-image: url("pictures/services.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top center;
}

#ourServices h1{
    color: #FEFFE2;
    padding-top: 15%; 
}

.services-container{
    display: grid;
    padding-bottom: 10%;
}

.service-items{
    background-color: #FEFFE2;
    display: block;
    width: 70%;
    text-align: center;
    margin: 0 15%;
    border-radius: 25px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
}

.service-items h2{
    padding-top: 5%;
    color: #f1b2bc;
}

.service-items p{
    padding: 0 7% 7% 7%;
}

.service-item1{
    grid-column: 1;
}

.service-item2{
    grid-column: 2;
}

.service-item3{
    grid-column: 3;
}

.service-item4{
    grid-column: 4;
}

/*Våra anställda - Sektion*/
.employees-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

#employees h1{
    color: #FED3DA;
    margin-top: 10%;
}

.employee-items{
    background-color: #FFF5F5;
    width: 60%;
    border: 5px solid;
    border-color: #FED3DA;
    border-radius: 50px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    text-align: center;
    display: grid;
    grid-template-rows: 25% 25% 50%;
    grid-template-columns: 50% 50%;
}

.employee-items p{
    width: 80%;
    text-align: left;
    margin: 0 12%;
}


.employee-item1{
    grid-column: 1;
    grid-row: 1;
    margin: 10% 10% 10% 30%;
}

.employee-item2{
    grid-column: 2;
    grid-row: 1;
    margin: 10% 30% 10% 10%;
}


.employee-item3{
    grid-column: 1;
    grid-row: 2;
    margin: 10% 10% 10% 30%;
}

.employee-item4{
    grid-column: 2;
    grid-row: 2;
    margin: 10% 30% 10% 10%;
}

.employee-name-item1{ /*Rubrik*/
    grid-column: 1 / span 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.employee-name-item2{ /*Text*/
    grid-column: 1 / span 2;
    grid-row: 2;
}

.employee-name-item3{ /*Bilden*/
    grid-column: 1;
    grid-row: 3;
    display: flex;
    align-items: end;
    justify-content: center;
}

.employee-name-item3 img{
    width: 75%;
}

.employee-name-item4{ /*Knapp*/
    grid-column: 2;
    grid-row: 3;
    display: flex;
    justify-content: start;
    align-items: center;
}

.employee-name-item4 button{ /*Knapp*/
    width: 175px;
    height: 175px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background-color: #FED3DA;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-family: 'Instrument serif', sans-serif;
    color: #5F3917;
}

.employee-name-item4 button:hover{
    text-decoration: none;
}

footer{
    display: flex;
    justify-content: center;
}

footer img{
    width: 20%;
}

/* Kontakta oss */
#contact{
    padding-left: 5%;
    width: 60%;
}

form label, form input, form textarea, form button {
    display: block;
    font-family: 'Instrument serif', sans-serif;
}

form label{
    font-size: 1.5rem;
    margin-top: 5%;
}

form input, form textarea{   
    width: 50%;
    font-size: 1.25rem;
    padding: 0 1%;
}

form textarea{
    height: 20vh;
    resize: none;
    padding: 1%;
    margin-bottom: 0;
}

form p{
    font-size: 1rem;
    margin: 0 0 5% 0;
    font-style: italic;
}

form #thankyou-message{
    font-family: 'Instrument Serif', sans-serif;
    font-size: 2rem;
    color: #A1DAA6;
}

#nameError, #telError, #emailError, #messageError{
    color: red;
}

.visibility-hidden{
   display: none;
}

#contact h1{
    font-family: 'Italianno', sans-serif;
    text-align: left;
    margin: 8% 0 3% 0;
}

form button{
    width: 15%;
    font-size: 1.25rem;
    background-color: #C8EBCB;
    border: 1px solid;
    border-color: #A1DAA6;
    border-radius: 20px;
    margin-bottom: 7%;
}

@media (max-width: 768px){
    /*Rubriker*/
    h1{
        font-size: 2.75rem;
    }

    h2{
        font-size: 2.5rem;
    }

    /*Meny mobilanpassning*/
    #menu-large-screen{
        display: none;
    }

    #menu-small-screen{
        display: block;
        text-align: right;
    }

    #menu{
        display: none;
        list-style-type: none;
    }

    #menu-toggle:checked ~ #menu{
        display: block;
    }

    #menu-toggle{
        display: none;
    }

    #menu li{
        padding-top: 2%;
    }

    header{
        padding: 5% 3% 3% 5%;
    }

    header a{
        font-size: 0.8rem;
    }

    /*Konditori Mill - Sektion mobilanpassning*/
    .konditori-mill-container{
        display: block;
    }

    .mill-item1 h2{ 
        margin-bottom: 0;
    }

    .mill-item3 p{
        width: 85%;                
    }

    .mill-item2 img, .mill-item4 img{
        margin-bottom: 10%;
    }

    /*Våra tjänster - Sektion mobilanpassning*/
    #ourServices{
        background-size: contain;
    }

    .services-container{
        display: block;
        background-color: #A1DAA6;
        padding-bottom: 10%;
    }

    /*Våra anställda - Sektion mobilanpassning*/    

    .employees-container{
        display: block;
        margin-top: 10%;
    }

    .employee-items{
        margin: 10% auto;
    }

    .employee-name-item4 button{ /*Knapp*/
        width: 100px;
        height: 100px;
        font-size: 0.8rem;
    }

    /*Footer*/
    footer{
        margin-bottom: 0;
    }

    footer img{
        width: 30%;
    }

    /* Kontakta oss mobilanpassning */

    form label{
        font-size: 1.1rem;
    }

    form input, form textarea{   
        width: 70%;
        font-size: 0.9rem;
    }

    form p{
        font-size: 0.72rem;
    }

    form button{
        width: 30%;
        font-size: 0.9rem;
    }

    form #thankyou-message{
        font-size: 1rem;
    }
}
